.dark {
    background-color: rgb(67, 67, 68);
    .main-head {
        color: white;
    }
    .content {
        color: white;
    }
    .main-nav {
        color: white;
    }
    .side {
        color: white;
    }
    .ad {
        color: white;
    }
    .main-footer {
        color: white;
    }
  }
